{% include 'includes/_global-header' %}

<nav>
	<div class="container-fluid">
		<div class="row">
			<div class="nav-inner nav-left">
				<h4>98 Loisaida Ave.</h4>
			</div>
			<div class="nav-inner nav-right">
				<h4>S&#8212;T 3<sup>pm</sup>&#8212;12<sup>am</sup>&nbsp;S&#8212;T 3<sup>pm</sup>&#8212;12<sup>am</sup></h4>
			</div>
		</div>
	</div>
</nav>

<section class="hero is-full-height" id="hero">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
  		  <div class="img-container" style="background-image: url(assets/img/test.jpg);"></div>
				<h1>Lois</h1>
			</div>
			<div class="section-inner section-right">
  			<div class="is-padded">
  				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
				</div>
				<h1>Lois</h1>
			</div>
		</div>
	</div>
</section>

<section class="wine" id="wine">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
  		  <div class="is-padded">
  				<h2>Wine</h2>
  				<p>We serve a rotating menu of wines on tap and seasonal small plates. We believe that good food does not need to be overwrought or fancy and that wine should be exciting, never intimidating. At Lois, they never are.</p>
  				<p>We chose to do all our wines on tap instead of traditional bottles to reduce waste, make our prices good, and keep.</p>
  				<a href="http://www.instagram.com/lois-taps" target="_blank"><div class="button">See what‘s on tap</div></a>
  		  </div>
				<img src="assets/img/test.jpg" alt="test" />
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" />
			</div>
		</div>
	</div>
</section>

<section class="food" id="food">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
  			<div class="is-padded">
  				<h2>Food</h2>
  				<p>We serve a rotating menu of wines on tap and seasonal small plates. We believe that good food does not need to be overwrought or fancy and that wine should be exciting, never intimidating. At Lois, they never are.</p>
  				<p>We chose to do all our wines on tap instead of traditional bottles to reduce waste, make our prices accessible, keep our wine fresh.</p>
  				<div class="button">See what‘s on tap</div>
  			</div>
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
		</div>
	</div>
</section>

<section class="press" id="press">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
  			<div class="is-padded">
  				<h2>Press</h2>
  				<a href="">
    				<div class="press-item">
    					<h3>New Wine Bar has Best Site in the World</h3>
    					<img src="assets/img/brand-logo.png" alt="brand-logo" width="150" height="34" />
    				</div>
  				</a>
  				<hr class="white"></hr>
  				<a href="">
    				<div class="press-item">
    					<h3>New Wine Bar has Best Site in the World</h3>
    					<img src="assets/img/brand-logo.png" alt="brand-logo" width="150" height="34" />
    				</div>
  				</a>
  			</div>
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
		</div>
	</div>
</section>

<section class="credit" id="credit">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left text-center">
  			<div class="is-padded">
  				<p class="small">Lois was designed with love by<br><a href="">Michael J Groth</a></p>
  			</div>
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
		</div>
	</div>
</section>


{% include 'includes/_global-footer' %}