{% include 'includes/_global-header' %}

<nav>
	<div class="container-fluid">
		<div class="row">
			<div class="nav-inner nav-left">
				<h4>98 Loisaid Ave.</h4>
			</div>
			<div class="nav-inner nav-right">
				<h4>S&#8212;T 3<sup>pm</sup>&#8212;12<sup>am</sup>&nbsp;S&#8212;T 3<sup>pm</sup>&#8212;12<sup>am</sup></h4>
			</div>
		</div>
	</div>
</nav>



<section id="">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
				<h1>Lois</h1>
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
				<h1>Lois</h1>
			</div>
		</div>
	</div>
</section>

<section id="">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
				<h2>Wine</h2>
				<p>We serve a rotating menu of wines on tap and seasonal small plates. We believe that good food does not need to be overwrought or fancy and that wine should be exciting, never intimidating. At Lois, they never are.</p>
				<p>We chose to do all our wines on tap instead of traditional bottles to reduce waste, make our prices good, and keep.</p>
				<div class="button">See what‘s on tap</div>
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
		</div>
	</div>
</section>

<section id="">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
				<h2>Food</h2>
				<p>We serve a rotating menu of wines on tap and seasonal small plates. We believe that good food does not need to be overwrought or fancy and that wine should be exciting, never intimidating. At Lois, they never are.</p>
				<p>We chose to do all our wines on tap instead of traditional bottles to reduce waste, make our prices accessible, keep our wine fresh.</p>
				<div class="button">See what‘s on tap</div>
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
		</div>
	</div>
</section>

<section id="">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
				<h2>Press</h2>
				<div class="press-item">
					<h3>New Wine Bar has Best Site in the World</h3>
					<img src="assets/img/brand-logo.png" alt="brand-logo" width="150" height="34" />
				</div>
				<div class="separator"></div>
				<div class="press-item">
					<h3>New Wine Bar has Best Site in the World</h3>
					<img src="assets/img/brand-logo.png" alt="brand-logo" width="150" height="34" />
				</div>
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
		</div>
	</div>
</section>

<section id="">
	<div class="container-fluid">
		<div class="row">
			<div class="section-inner section-left">
				<p>Lois was designed with love by<br><a href="">Michael J Groth</a></p>
			</div>
			<div class="section-inner section-right">
				<img src="assets/img/test.jpg" alt="test" width="901" height="600" />
			</div>
		</div>
	</div>
</section>


{% include 'includes/_global-footer' %}