/**
    _____ _                  _ _
  / ____| |                (_) |
  | (___ | |_ ___ _ __   ___ _| |
  \___ \| __/ _ \ '_ \ / __| | |
  ____) | ||  __/ | | | (__| | |
  |_____/ \__\___|_| |_|\___|_|_|

  - - - - - - - - - - - - - - - -

  Module: Loader

  - - - - - - - - - - - - - - - -
**/

.stencil-loader {
  background: white no-repeat center center;
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
