/**
    _____ _                  _ _
  / ____| |                (_) |
  | (___ | |_ ___ _ __   ___ _| |
  \___ \| __/ _ \ '_ \ / __| | |
  ____) | ||  __/ | | | (__| | |
  |_____/ \__\___|_| |_|\___|_|_|

  - - - - - - - - - - - - - - - -

  Module: Nav

  - - - - - - - - - - - - - - - -
**/

.mod-nav-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 29;
}

.mod-nav {
  @include make-row;
  height: $nav-height;
  z-index: 30;
  position: relative;

  a {
    @extend %text-s, %text-none, %text-regular, %letter-s;
    @include transition(0.3s all);
    color: $color-base;
    height: $nav-height;
    line-height: $nav-height;
    margin: 0;
    padding: 10px 15px;

    &:hover {
      color: $color-base;
    }
  }
}

.mod-nav-brand {
  @extend .col-palm-9;
  @extend .col-tab-5;
  line-height: $nav-height;
  z-index: 32;
}

.mod-nav-logo {
  padding: 0 !important;

  &:hover {
    background: transparent !important;
  }

  img {
    display: inline-block;
    margin-top: -10px;
    height: 50px;
    vertical-align: middle;
    width: auto;
  }
}

.mod-nav-with-logo {
  .mod-nav-name {
    @include to($tab) {
      display: none;
    }
  }
}

.mod-nav-menu-toggle {
  @extend .col-palm-3;
  @extend %tab-hide;
}

.mod-nav-menu-toggle-control {
  @extend %tab-hide;
  float: right;
  height: $nav-height !important;
  line-height: $nav-height !important;
  position: relative;
  padding: 0 !important;
  z-index: 32;
}

.mod-nav-menu {
  @extend %hide;
  @extend %tab-block;
  @extend .col-tab-7;
  padding: 0;

  @include to($tab) {
    background: white;
    left: 0;
    top: 0;
    padding-top: $nav-height;
    position: absolute;
    width: 100%;
    z-index: 31;
  }

  @include tab {
    a {
      &:hover {
        background: $color-base;
        color: white;
      }
    }
  }
}

.mod-nav-menu-items {
  @extend %tab-text-right;
}

.mod-nav-menu-item {
  @extend .col-palm-12;

  @include tab {
    display: inline-block;
    float: none;
    width: auto;
  }
}
