/**
    _____ _                  _ _
  / ____| |                (_) |
  | (___ | |_ ___ _ __   ___ _| |
  \___ \| __/ _ \ '_ \ / __| | |
  ____) | ||  __/ | | | (__| | |
  |_____/ \__\___|_| |_|\___|_|_|

  - - - - - - - - - - - - - - - -

  Module: Scroll

  - - - - - - - - - - - - - - - -
**/

.stencil-no-scroll {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
