nav {
	height: $nav-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: $color-bronze;
}

section {
	min-height: 100%;
	width: 100%;
	display: block;
	position: absolute;

	.section-inner {
		width: 50%;
		min-height: 100%;
		float: left;

	}

	.section-left {
		background-color: $color-blue;
	}

	.section-right {

	}
}