/**
 * Add all your reusable CSS modules here, we added a few to get you started.
 */


/******************************************************************
  Nav
******************************************************************/

.mod-nav {
  height: $nav-height;
  z-index: 30;
  pointer-events: none;
  position: fixed;
  width: 100%;

  a {
    @extend %text-xs, %text-none, %text-regular, %letter-s;
    @include transition(0.3s all);
    color: $color-base;
    height: $nav-height;
    line-height: $nav-height;
    margin: 0;
    padding: 10px 15px;

    &:hover {
      color: $color-base;
    }
  }
}

.mod-nav-minimal {
  .mod-nav-menu-item {
    @include transition(opacity 0.2s);
    @include opacity(0);
  }

  .mod-nav-logo {
    @include opacity(1);

    a {
      background-image: url( #{'{{ "logo-vertical.png" | asset_url }}'} );
      background-size: 28px 54px;
      height: 54px;
      width: 28px;
    }
  }
}

.mod-nav-menu {
  @extend %text-center;
}

.mod-nav-menu-items {
  @extend %inline-block;
  pointer-events: auto;

  @include tab {
    &:hover {
      .mod-nav-menu-item {
        @include opacity(1);
      }
    }
  }
}

.mod-nav-menu-item {
  @extend %inline-block;
  width: auto;

  @include to($tab) {
    @include opacity(0);
  }
}

.mod-nav-logo {
  @include opacity(1);
  padding: 0 !important;

  &:hover {
    background: transparent !important;
  }

  a {
    background-image: url( #{'{{ "logo.png" | asset_url }}'} );
    background-size: 75px 42px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 42px;
    vertical-align: middle;
    width: 60px;
  }
}

.mod-nav-menu-cart {
  @extend %text-center, %block, %text-lowercase;
  @include box-sizing(border-box);
  background-color: black;
  color: white !important;
  height: 81px !important;
  line-height: 25px !important;
  letter-spacing: 0 !important;
  padding: 15px 0 0 !important;
  pointer-events: auto;
  position: absolute;
  right: 0px;
  top: 2px;
  width: 84px;
  z-index: 300;

  &:hover {
    background-color: #2B3980;
    color: white !important;
  }
}

.no-cssmask {
  .mod-nav-menu-cart {
    @include border-radius(42px);
    height: 84px;
  }
}

.cssmask {
  .mod-nav-menu-cart {
    @include mask(#{'{{ "product_mask-05.svg" | asset_url }}'});
    @include mask-position(center center);
    @include mask-repeat(no-repeat);
    @include mask-size(contain);
  }
}

.mod-nav-menu-cart-quantity {
  @extend %text-s, %block;
}

.mod-nav-menu-cart-total {
  @extend %text-xs, %block;
}

/******************************************************************
  Bodega Footer
******************************************************************/

footer.active {
  .mod-footer,
  .mod-footer-overlay {
    @include opacity(1);
    display: block;
  }

  @include to($tab) {
    .mod-footer-newsletter {
      @include opacity(1);
      display: block;
    }
  }

  .mod-footer-toggle {
    padding-left: 70px;

    &:before {
      background-image: url( #{'{{ "close24x24.png" | asset_url }}'} );
      background-size: 12px 12px;
      background-position: center center;
      background-repeat: no-repeat;
      border-color: transparent;
    }

    &:hover {
      padding-left: 70px;
      text-indent: 70px;
      width: 20px;

      &:before {
        background-color: transparent;
      }
    }
  }
}

.mod-footer-toggle {
  @include box-sizing(border-box);
  @include transition(all 0.2s);
  @extend %text-xs, %hide;
  @extend %tab-block;
  background-image: url( #{'{{ "icon-line58x4.png" | asset_url }}'} );
  background-size: 29px 2px;
  background-repeat: no-repeat;
  background-position: center left 30px;
  bottom: 20px;
  cursor: pointer;
  height: 20px;
  left: 20px;
  overflow-x: hidden;
  position: fixed;
  text-indent: 70px;
  width: 20px;
  z-index: 420;

  &:before {
    @include border-radius(20px);
    @include box-sizing(border-box);
    @include transition(all 0.2s);
    border: 4px solid black;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }

  &:after {
    content: url( #{'{{ "close24x24.png" | asset_url }}'} );
    visibility: hidden;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
  }

  &:hover {
    padding-left: 70px;
    text-indent: 0;
    width: auto;

    &:before {
      background-color: black;
    }
  }
}

.mod-footer {
  @include box-sizing(border-box);
  @include opacity(0);
  @include transition(opacity 0.1s linear);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 410;

  @include tab {
    bottom: 0;
    height: $footer-height;
    padding-left: 95px;
    top: auto;
  }
}

.mod-footer-overlay {
  @include opacity(0);
  @include transition(opacity 0.1s linear);
  background: rgba(255,255,255,0.5);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
}

.mod-footer-close {
  @extend %text-xs, %text-center, %margin-vertical-m, %text-lowercase;
  @extend %tab-hide;
  cursor: pointer;
}

.mod-footer-header {
  @extend %text-center, %text-m, %text-bold;
  @extend %tab-hide;
  background-image: url( #{'{{ "divider.png" | asset_url }}'} );
  background-size: 2px 188px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 188px;
  line-height: 188px;
  overflow: hidden;

  @media screen and ( max-height: 550px ){
    height: 108px;
    line-height: 108px;
  }

  a {
    @extend %block;
    height: 188px;
    float: left;
    width: 50%;
  }
}

.mod-footer-links {
  @extend %text-center;
  @extend %tab-text-left;
  position: absolute;
  width: 100%;
  left: 0;
  top: 245px;

  @media screen and ( max-height: 550px ){
    top: 165px;
  }

  @include tab {
    bottom: 0;
    top: auto;
    float: left;
    position: relative;
    width: auto;
  }

  .mod-footer-link {
    @extend %block;

    @include tab {
      @extend %tab-inline-block;
      width: auto;
    }

    a {
      @extend %text-xs, %text-bold, %text-none;
      @extend %tab-padding-right-l;
      height: auto;
      line-height: 2.0em;

      @include tab {
        height: $footer-height;
        line-height: $footer-height;
      }


      &:hover, &:active, &.active {
        color: #2B398F;
      }
    }
  }
}

.mod-footer-links-social {
  bottom: 115px;
  top: auto;

  @media screen and ( max-height: 550px ){
    bottom: 80px;
  }

  @include tab {
    @extend %tab-text-right;
    bottom: 0;
    float: right;
  }

  .mod-footer-link {
    display: inline-block;

    a {
      @extend %padding-right-l;
      @extend %tab-text-xxs;
    }
  }
}

.mod-footer-link-newsletter {
  display: none !important;

  @include tab {
    display: inline-block !important;
  }
}

.mod-footer-newsletter {
  @include transition(opacity 0.2s linear);
  @extend %text-center;
  @include opacity(0);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 420;

  @include tab {
    bottom: 120px;
    left: auto;
    right: 80px;
    width: 320px;
  }

  &:after {
    content: url(#{'{{ "product_mask-10.svg" | asset_url }}'});
    visibility: hidden;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
  }

  &.active {
    display: block;
    @include opacity(1);
  }

  &:before {
    content: url( #{'{{ "email-thanks226x362.png" | asset_url }}'} );
    visibility: hidden;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
  }

  &.success {
    background-image: url( #{'{{ "email-thanks226x362.png" | asset_url }}'} );
    background-size: 113px 181px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 181px;

    label,
    .mod-footer-newsletter-fields {
      @include opacity(0);
    }
  }

  label {
    @extend %text-xs, %text-bold, %margin-bottom-m, %block;
    @extend %tab-text-m, %tab-margin-bottom-l;
    @include opacity(0);

    @include tab {
      @include opacity(1);
    }
  }

  input {
    @include placeholder(black);
    @include box-sizing(border-box);
    @extend %text-xs, %text-bold, %padding-horizontal-m;
    @extend %tab-text-m;
    border-top: 2px solid black;
    background: transparent;
    width: 100%;
    height: 55px;
    line-height: 55px;

    @include tab {
      border: 3px solid black;
      background: white;
      height: 80px;
      line-height: 80px;
    }

    &:active, &:hover, &:focus {
      border-color: black !important;
    }
  }

  button {
    @extend %text-xs, %letter-xs, %text-bold, %line-l, %text-lowercase;
    background-color: transparent;
    color: #2B398F;
    height: 55px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 90px;

    @include tab {
      background-color: #2B398F;
      color: white;
      height: 80px;
      margin-top: 35px;
      margin-right: -55px;
      width: 85px;

      &:hover {
        background-color: black;
        width: 85px;
      }
    }
  }
}

.no-cssmask {
  .mod-footer-newsletter {
    button {
      @include border-radius(42px);
      height: 84px;
    }
  }
}

.cssmask {
  .mod-footer-newsletter {
    button {
      @include mask(#{'{{ "product_mask-10.svg" | asset_url }}'});
      @include mask-position(center center);
      @include mask-repeat(no-repeat);
      @include mask-size(contain);
    }
  }
}

.mod-footer-newsletter-fields {
  position: relative;
}

/******************************************************************
  Remote Cart
******************************************************************/

.active {
  .mod-remote-cart,
  .mod-remote-cart-items {
    @include opacity(1);
    display: block;
  }
}

.mod-remote-cart {
  @include opacity(0);

  h3 {
    @extend %margin-bottom-m;
  }

  .mod-nav-menu-cart {
    line-height: 15px !important;
    padding-top: 0px !important;
    position: relative;
    word-spacing: 99999px;
  }
}

.mod-remote-cart-checkout {
  position: fixed;
  right: 0;
  z-index: 301;
}

.mod-remote-cart-close {
  @extend %text-xs, %text-lowercase, %text-center, %margin-top-xs;
  float: right;
  width: 84px;
}

.mod-remote-cart-items {
  @include transition(opacity 0.1s linear);
  @include opacity(0);
  background: rgba(255,255,255,0.3);
  color: white;
  display: none;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
  z-index: 300;
}

.mod-remote-cart-item {
  @extend %margin-all-m;
  cursor: pointer;
  float: right;
  overflow: hidden;
  position: relative;

  &:before {
    content: url( #{'{{ "close-white42x42.png" | asset_url }}'} );
    visibility: hidden;
    height: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 0;
  }

  &:after {
    @include opacity(0);
    @include transition(all 0.2s);
    background-color: rgba(0,0,0,0.3);
    background-image: url( #{'{{ "close-white42x42.png" | asset_url }}'} );
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    &:after {
      @include opacity(1.0);
    }
  }

  &:first-child {
    margin-right: 104px !important;
  }

  &:nth-of-type(2n+2) {
    clear: both;
    float: right;
  }

  img {
    width: 100%;
  }
}

.mod-remote-cart-action {
  @extend %padding-vertical-l;
  overflow: hidden;
}

.mod-remote-cart-message {
  position: fixed;
  width: 100%;
  z-index: 301;

  .mod-nav-menu-cart {
    @extend %text-xs;
    line-height: 15px !important;
    padding-top: 25px !important;
    word-spacing: 99999px;
  }
}

/******************************************************************
  Add to cart
******************************************************************/

.mod-add-to-cart {
  @extend %text-center;
  @extend %tab-text-left;
  overflow: hidden;
  pointer-events: auto;

  @include to($tab) {
    background-color: $product-bg;
    border-top: 1px solid $color-line;
  }
}

.mod-add-to-cart-select {
  display: none;
}

.mod-add-to-cart-submit {
  @extend %inline-block, %margin-vertical-s;
  vertical-align: middle;

  button {
    @include border-radius(40px);
    @include box-sizing(content-box);
    @extend %text-xs, %text-regular;
    background: black;
    border: 1px solid transparent;
    color: white;
    height: 40px;
    line-height: 40px;
    width: 40px;
    padding: 0;

    &:hover, &:active {
      @include opacity(0.8);
    }
  }

  .mod-btn-out {
    background: transparentize($color-out, 0.8) !important;
  }
}

.mod-add-to-cart-message {
  clear: both;
}

.mod-add-to-cart-swatch {
  @extend %inline-block;
}

.mod-add-to-cart-swatches {
  vertical-align: middle;

  input[type=radio]:checked + .mod-add-to-cart-swatch {
    .mod-add-to-cart-swatch-inner {
      border-color: black;
    }
  }
}

.mod-add-to-cart-swatch-inner {
  @extend %text-xs, %text-center, %text-bold;
  cursor: pointer;
  display: inline-block;
  font-variant: small-caps;
  height: 40px;
  line-height: 40px;
  width: 40px;
}

.mod-add-to-cart-swatch-size {
  @extend %margin-vertical-s;

  .mod-add-to-cart-swatch-inner {
    @include border-radius(40px);
    border: 1px solid transparent;
  }
}

.mod-add-to-cart-swatch-color {
  border: 1px solid #efefef;
  text-indent: -9999px;
}

/******************************************************************
  Collections
******************************************************************/

.mod-collections-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.mod-collections-image {
  @include cover-background-image('');
  bottom: 70px;
  display: none;
  left: 40px;
  position: fixed;
  right: 40px;
  top: 120px;
  z-index: 0;

  @include desk {
    bottom: 145px;
    left: 218px;
    right: 218px;
    top: 145px;
  }
}

.mod-collections {
  height: 100%;
}

.mod-collections-collection {
  @include cover-background-image('');
  background-attachment: fixed;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 1px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.mod-collections-collection-inner {
  position: relative;
}

.mod-collections-collection-title {
  @extend %text-center, %text-xl;
  @extend %tab-text-xxl;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  width: 200px;
  z-index: 1;

  @include tab {
    left: 0;
    margin-left: 0;
    width: 100%;
  }
}

.mod-collections-collection-image {
  @include cover-background-image('');
  height: 330px;
  position: absolute;
  width: 244px;
  z-index: 0;

  @include from($device-xs) {
    height: 345px;
    width: 518px;
  }

  @include lap {
    height: 510px;
    width: 764px;
  }
}

.template-list-collections.chrome {
  position: static;

  .wrapper,
  #main {
    position: static;
  }

  .mod-collections-collection {
    position: static;
  }
}

.no-touch {
  .template-list-collections:not(.chrome) {
    .mod-collections-collection-image {
      position: fixed;
    }
  }
}

/******************************************************************
  Split Containers
******************************************************************/

.split-template-collection {
  footer{
    display: none;
  }
}

.mod-split-containers {
  max-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  min-height: 100%;
}

.mod-split-container {
  height: 100%;
  float: left;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
}

.mod-split-container-content {
  padding: 60px 0 0;
  position: relative;

  @include tab {
    padding: 90px 30px 0;
  }
}

.mod-split-container-toggle {
  @extend %text-center, %text-xs, %text-lowercase, %letter-m;
  @extend %tab-text-s;
  cursor: pointer;
  position: fixed;
  -webkit-transform: translate(0, 150px) rotate(90deg);
  -ms-transform: translate(0, 150px) rotate(90deg);
  transform: translate(0, 150px) rotate(90deg);
  width: 200px;
  z-index: 30;

  @include tab {
    -webkit-transform: translate(0, 300px) rotate(90deg);
    -ms-transform: translate(0, 300px) rotate(90deg);
    transform: translate(0, 300px) rotate(90deg);
  }
}

.mod-split-container-toggle-left {
}

.mod-split-container-toggle-right {
}

.no-touch {
  .mod-split-container {
    float: none;
    height: auto;
    position: absolute;
  }
}

/******************************************************************
  Products
******************************************************************/

.mod-products-container {
  @extend %margin-horizontal-auto;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;

  @include tab {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.mod-products {
  @include make-row;

  margin-left: -2px;
  margin-right: -2px;

  @include tab {
    margin-left: -5px;
    margin-right: -5px;
  }
}

[data-products="small"] {
  .mod-products-product-wrapper {
    @extend .col-palm-6;
    @include from($product-toggle-width) {
      width: 25%;
    }
  }
}

[data-products] {
  .mod-products-product-wrapper {
    padding-left: 2px;
    padding-right: 2px;
    line-height: 0;
    margin-top: 4px;
    margin-bottom: 0px;
    z-index: 3;

    @include tab {
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 10px;
      margin-bottom: 0px;
    }

    &.visible {
      transform: scale3d(1, 1, 1);
      transition: transform 0ms 250ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0ms 250ms cubic-bezier(0.165, 0.84, 0.44, 1), width 100ms;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      padding: 0;
      transform: scale3d(0.001, 0.001, 1);
      transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1), width 100ms 150ms;
      width: 0;
    }
  }
}

[data-products="large"] {
  .mod-products-product-wrapper {
    @extend .col-palm-12;
    @extend .col-tab-6;
  }
}

.mod-products-product {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  position: relative;

  @include tab {
    &:hover {
      cursor: pointer;
      .mod-products-product-overlay {
        opacity: 1.0;
      }
    }
  }
}

.mod-products-product-image {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.mod-products-product-alt-wrapper {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  &.flip {
    .mod-products-product-image {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);

      img:nth-of-type(2) {
        z-index: 3;
      }
    }
  }

  .mod-products-product-image {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    position: relative;
    @include transition(0.6s);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    img:nth-of-type(1),
    img:nth-of-type(2) {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;

      left: 0;
      position: absolute;
      top: 0;
    }

    img:nth-of-type(1) {
      z-index: 2;
    }

    img:nth-of-type(2) {
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }

    .mod-products-product-sizer {
      @include opacity(0);
    }
  }
}

.mod-products-product-overlay {
  @extend %text-left, %text-s, %line-s;
  @include transition(all 0.2s);
  background-image: url( #{'{{ "shop273x74.png" | asset_url }}'} );
  background-size: 137px 37px;
  background-repeat: no-repeat;
  background-position: top 50% right 40px;
  color: $color-base;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.mod-products-product-details {
  bottom: 20px;
  left: 20px;
  max-width: 150px;
  pointer-events: none;
  position: absolute;
}

.mod-products-product-title {
  @extend %margin-bottom-xs;
  pointer-events: auto;
}

.mod-products-product-price {
  @extend %text-regular;
  pointer-events: auto;
}

.mod-product-toggle {
  background-image: url( #{'{{ "mod-toggle.png" | asset_url }}'} );
  background-position: center center;
  background-size: 2px 42px;
  background-repeat: no-repeat;
  height: 140px;
  margin-top: -70px;
  position: fixed;
  right: 20px;
  top: 50%;
  width: 20px;
  z-index: 30;
}

.mod-product-toggle-control {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 20px 52px;
  cursor: pointer;
  display: block;
  height: 26px;
  position: absolute;
  text-indent: -999999px;
  width: 20px;

  &:hover, &.active {
    background-position: top -26px center;
  }
}

.mod-product-toggle-control-small {
  background-image: url( #{'{{ "mod-toggle-s.png" | asset_url }}'} );
  top: 0;
}

.mod-product-toggle-control-large {
  background-image: url( #{'{{ "mod-toggle-l.png" | asset_url }}'} );
  bottom: 0;
}

.mod-product-filter-menu-toggle {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 30;

  &.active {
    .mod-product-filter-menu-toggle-clear {
      display: block;
    }
  }
}

.mod-product-filter-menu-toggle-control {
  @extend %text-m, %text-bold, %letter-s, %text-center;
  cursor: pointer;
  height: 320px;
  line-height: 320px;
  margin-left: -130px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 320px;

  span, button {
    pointer-events: auto;
  }
}

.mod-product-filter-menu-toggle-clear {
  @include cover-background-image(#{'{{ "close42x42.png" | asset_url }}'});
  @extend %hide;
  height: 21px;
  left: 50%;
  margin-top: -6px;
  padding: 0;
  position: absolute;
  text-indent: -999px;
  top: 50%;
  width: 21px;
}

.mod-product-filter-menu-title {
  @extend %text-center, %text-s, %margin-bottom-l;
}

.mod-product-filter-menu-items {
  @extend %text-center;
}

.mod-product-filter-menu-item {
  width: auto;

  a {
    @extend %text-l, %text-bold;
    @extend %tab-text-xl;
  }
}

.mod-product-filter {
  @extend %padding-all-m;
  background: rgba(255,255,255,0.8);
  box-sizing: border-box;
  display: none;
  left: 0;
  position: fixed;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  width: 100%;
  z-index: 300;
}

.mod-product-filter-menu-overlay {
  height: 100%;
  width: 100%;
}

/******************************************************************
  Collection Products
******************************************************************/

.mod-collection-products-container {
  @extend %margin-horizontal-auto;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;

  @include tab {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
  }
}

.mod-collection-products {
  @include make-row;
  margin-left: 0;
  margin-right: 0;

  .mod-products-product-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 0;
    margin-bottom: 30px;

    @include tab {
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .mod-products-product-wrapper {
    @extend .col-palm-6;
    @include from($product-toggle-width) {
      width: 25%;
    }
  }

  .mod-products-product-overlay {
    background: none;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .mod-products-product-details {
    @extend %text-xs;
    top: -10px;
    left: -10px;
    max-width: 110px;
    position: absolute;
  }

  .mod-products-product-title {
    @extend %margin-bottom-m;
  }

  .mod-products-product-price {
    @extend %hide;
    @extend %margin-bottom-m;
  }
}

/******************************************************************
  Collection Campaign
******************************************************************/

.mod-collection-campaign {
  padding-left: 30px;
  padding-bottom: 30px;

  @include tab {
    padding-left: 60px;
    padding-bottom: 60px;
  }

  .row {
    margin: 0;
    margin-bottom: 60px;
    position: relative;
  }
}

.mod-collection-campaign-image {
  img {
    width: 100%;
    height: auto;
  }
}

.mod-collection-campaign-image-inset {
  bottom: 0;
  position: absolute;
}


/******************************************************************
  Product
******************************************************************/

.template-product {
  footer {
    display: none;
  }

  .wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  #main {
    height: 100%;
  }
}

.mod-product {
  background-color: $product-bg;

  @include to($tab) {
    &.browsing {
      .mod-product-details-primary {
        .mod-product-title,
        .mod-product-price {
          visibility: hidden;
        }
      }
    }
  }

  .slick-cloned {
    @include transition(visibility 0s 1s linear);
  }

  &:not(.browsing) {
    .slick-cloned {
      visibility: hidden;
    }
  }

  &:after {
    @include transition(all 0.2s linear);
    @include opacity(0);
    background-image: url( #{'{{ "overlay-out1459x1287.png" | asset_url }}'} );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px 265px;
    content: "";
    display: none;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    @include tab {
      background-size: 600px 529px;
    }

    @include lap {
      background-size: 730px 644px;
    }
  }
}

.mod-product-out {
  &:after {
    @include opacity(1);
    display: block;
  }
}

.mod-product-details {
  @extend %text-left;
  @extend %tab-padding-horizontal-xl, %tab-padding-vertical-xxl;
  pointer-events: none;

  @include to($tab) {
    bottom: 70px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 100;
  }
}

.mod-product-details-primary {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.mod-product-title {
  @include transition(all 0.3s);
  @extend %text-s, %margin-bottom-s, %margin-horizontal-auto;
  @extend %tab-text-m, %tab-margin-bottom-m;
  max-width: 150px;
  pointer-events: auto;

  @include tab {
    @extend %tab-margin-horizontal-n;
    max-width: 240px;
  }
}

.mod-product-price {
  @include transition(all 0.3s);
  @extend %text-s, %margin-bottom-n;
  @extend %tab-text-m, %tab-margin-bottom-m;
  pointer-events: auto;
  display: inline-block;
  width: auto;
}

.mod-product-more-info {
  button {
    @extend %text-xs, %text-lowercase, %padding-horizontal-n;
    color: $color-muted;
    pointer-events: auto;
  }
}

.mod-product-currency {
}

.mod-product-add-to-cart {
  @extend %tab-padding-horizontal-xl;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 200;

  @include tab {
    bottom: 25px;
    position: absolute;
  }
}

.mod-product-gallery {
  @include box-sizing(border-box);
  background-color: $product-bg;
  bottom: 0px;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;

  @include to($tab) {
    bottom: 62px;
  }

  &.slick-single-item {
    cursor: default;

    .slick-slide {
      img {
        @extend %margin-horizontal-auto;

        @include to($tab) {
          height: 100%;
          width: auto;
        }
      }
    }
  }


  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }

  .slick-slide {
    position: relative;
    img {
      height: 100%;
    }
  }

  @include to($tab) {
    .slick-first-slide {
      margin-top: -150px;
    }
  }
}

.mod-product-gallery-next {
  bottom: 0px;
  cursor: url( #{'{{ "cursor-gallery.png" | asset_url }}'} ), auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  z-index: 0;
}

.mod-product-gallery-controls {
  @extend %text-center, %hide;
  bottom: 25px;
  position: absolute;
}

.mod-product-gallery-control {
  @extend %margin-vertical-l;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  text-indent: -99999px;
  width: 90px;

  @include tab {
    @extend %tab-margin-top-n;
    display: block;
    float: left;
  }
}

.mod-product-gallery-control-prev {
  background-image: url( #{'{{ "arrow-left44x81.png" | asset_url }}'} );
}

.mod-product-gallery-control-next {
  background-image: url( #{'{{ "arrow-right44x81.png" | asset_url }}'} );
}

.mod-product-info {
  @extend %hide;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  overflow: scroll;
  pointer-events: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
}

.mod-product-info-title {
  @extend %text-m, %margin-bottom-l;
}

.mod-product-info-description {
  @extend %margin-bottom-xl;
}

.mod-product-nav-back {
  @extend .mod-nav-logo;
  display: none;
}

.mod-product-nav {
  @include to($tab) {
    .mod-nav-logo {
      display: none;
    }

    .mod-product-nav-back {
      display: block;
    }
  }
}

.mod-next-products {
}

.mod-next-product {
  height: 120px;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
  z-index: 1;
}

.mod-next-product-image {
  @include cover-background-image('');
  pointer-events: none;
  position: absolute;
}

.mod-next-product-label {
  @include border-radius(25px);
  @extend %text-xxs, %text-center, %text-uppercase;
  background: white;
  display: block;
  height: 50px;
  line-height: 50px;
  pointer-events: none;
  position: absolute;
  width: 50px;
}

/******************************************************************
  Promo
******************************************************************/

.mod-promo-wrapper {
  position: relative;
}

.mod-promo {
  @extend %text-center;
  background: black;
  display: block;
  margin-top: -$nav-height;
  position: absolute;
  top: 0;
  width: 100%;
}

.mod-promo-use-image {
  @include cover-background-image(#{'{{ "promo_image.png" | asset_url }}'});
}

.mod-promo-inner {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.mod-promo-title {
  @extend %text-xl, %margin-bottom-l;
  @extend %tab-text-xxl, %margin-bottom-xl;

  a {
    @extend %text-none;
    color: white;

    &:hover {
      color: white;
    }
  }
}

.mod-form-single {
  border: 1px solid black;
  height: 75px;
  width: 100%;

  input {
    border: 0;
    height: 75px;
    line-height: 75px;
    width: 100%;
  }

  button {
    @extend %letter-xs, %text-uppercase, %text-s;
    height: 75px;
    line-height: 75px;
    padding: 0;
  }
}


/******************************************************************
  Newsletter
******************************************************************/

.mod-newsletter {
  @extend %margin-vertical-xl;
  @extend %tab-margin-vertical-xxl;
}

.mod-newsletter-title {
  @extend %text-center, %text-m, %margin-bottom-m;
  @extend %tab-text-l, %margin-bottom-l;
}

/******************************************************************
  Page
******************************************************************/

.mod-page {
}

.mod-page-title {
  @extend %text-center, %text-l, %margin-bottom-l;
  @extend %tab-text-xxl, %margin-bottom-xl;
}

.mod-page-content {
  @extend %margin-horizontal-auto;
  max-width: 585px;
}

/******************************************************************
  Search
******************************************************************/

.mod-search {
}

.mod-search-items {
  @extend %margin-vertical-xxl;
}

.mod-search-item {
  @extend .mod-media, %margin-bottom-xl;
}

.mod-search-item-image {
  @extend %block, .mod-media-img;
  @include cover-background-image(#{'{{ "search-item.png" | asset_url }}'});
  height: 220px;
  width: 150px;
}

.mod-search-item-body {
  @extend .mod-media-body;
}

/******************************************************************
  Paginate
******************************************************************/

.mod-paginate {
  @extend %text-center, %margin-vertical-xl;
  @extend %margin-vertical-xxl;

  .page {

    &.current {
    }
  }
}

/******************************************************************
  Artists
******************************************************************/

.collection-template-artists {
  .mod-nav-logo {
    a {
      background-image: url( #{'{{ "logo-artists-black-vertical.png" | asset_url }}'} );
      background-size: 39px 76px;
      height: 76px;
      width: 39px;
    }
  }
}

.mod-artists-container {
  @include box-sizing(border-box);
  @extend .container-fluid;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.mod-artists {
  @include make-row;
  padding-top: 120px;
}

.mod-artists-title {
  @include rotate(-90deg);
  @extend %text-regular, %text-m, %text-uppercase, %letter-xxl;
  position: fixed;
  z-index: 2;
  margin-left: -80px;

  @include tab {
    margin-left: -60px;
  }
}

.mod-artists-description {
  @extend %text-xs;
  position: fixed;
  right: 15px;
  width: 210px;
  z-index: 2;

  @include tab {
    right: 35px;
  }

  p {
    @extend %text-xs;
  }
}

.mod-artists-product-wrapper {
  @include cover-background-image('');
  @extend .col-palm-12, .col-tab-6;
  position: relative;

  &:nth-child(odd) {
    @extend .col-tab-offset-2;
  }

  &:nth-child(even) {
    @extend .col-tab-offset-4;
  }
}

.mod-artists-product {
  @extend %text-center;
  width: 100%;
  height: 100%;
}

.mod-artists-product-details {
  position: relative;
}

.mod-artists-product-image {
  width: 100%;
}

.mod-artists-product-title {
  @extend %text-l, %text-bold;
  @extend %tab-text-xl;
  position: absolute;
  width: 100%;
  word-spacing: 99999px;
}

.mod-artists-product-collection {
  @extend %text-xs, %margin-top-s, %margin-bottom-xxl;
}

.product-template-artist {
  .mod-nav-logo {
    a {
      background-image: url( #{'{{ "logo-artists-white-vertical.png" | asset_url }}'} );
      background-size: 39px 76px;
      height: 76px;
      width: 39px;
    }
  }
}

.mod-artist {
  min-height: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.mod-artist-header {
  @include cover-background-image('');
  @include background-size(auto 100%);
  min-height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.mod-nav-artists-back {
  @include rotate(45deg);
  @include transition(0.3s all);
  @extend %text-xxs, %text-uppercase, %letter-l;
  background-image: url( #{'{{ "back-arrow-white8x18.png" | asset_url }}'} );
  background-size: 4px 9px;
  background-repeat: no-repeat;
  background-position: center left 5px;
  display: block;
  color: white;
  font-size: 12px;
  height: 100px;
  line-height: 100px;
  padding: 20px;
  pointer-events: auto;
  position: absolute;
  width: 100px;
  z-index: 40;

  &:hover {
    color: white;
    background-position: center left 0px;
  }
}

.mod-nav-artists-collection {
  @include rotate(45deg);
  @extend %text-xxs, %text-bold, %text-uppercase, %letter-xs, %text-right;
  bottom: -80px;
  display: block;
  font-size: 12px;
  height: 200px;
  pointer-events: auto;
  position: absolute;
  right: 50px;
  width: 200px;
  z-index: 40;
}

.mod-artist-info {
  color: white;
  background: black;
  min-height: 100%;
  position: relative;
}

.mod-artist-info-title {
  @extend %text-center, %text-s, %text-uppercase, %line-l, %letter-m;
  position: absolute;
  top: 105px;
  left: 0;
  right: 0;
}

.mod-artist-info-image {
  @extend .col-tab-5, .col-tab-offset-1;

  @include to($tab) {
    margin-top: 0 !important;
  }

  img {
    width: 100%;
  }
}

.mod-artist-info-bio {
  @extend .col-tab-4;
  @extend %text-xs, %line-m;

  @include to($tab) {
    margin-top: 0 !important;
  }

  p {
    @extend %margin-bottom-m, %letter-xs;
  }

  a {
    color: $color-blue;
    @extend %text-underline;

    &:hover {
      color: darken($color-blue, 10%);
      @extend %text-none;
    }
  }
}

.mod-artist-info-bio-title {
  @extend %text-m, %line-l, %margin-bottom-l, %letter-s;
}

.mod-artist-images {
  height: 100%;

  .container-fluid,
  .row {
    height: 100%;
  }
}

.mod-artist-images-image {
  @extend .col-palm-12, .col-tab-6;
  @include cover-background-image('');
  height: 100%;
}

.mod-artist-collection {
  min-height: 100%;
  position: relative;
}

.mod-artist-collection-product {
  @extend .col-palm-6;
  @extend .col-tab-4;
  @extend %margin-vertical-xl;
  @extend %tab-margin-vertical-xxl;

  &:first-child {
    @extend .col-tab-offset-2;
  }
}

.mod-artist-collection-row {
  @include make-row;
  @extend %block;
  position: relative;
}

.mod-artist-collection-title {
  @extend %text-s, %text-center, %text-regular, %letter-xs;
  @extend %margin-vertical-xl;
  @extend %tab-margin-vertical-xxl;
  left: 0;
  position: absolute;
  right: 0;
  top: -23px;
  word-spacing: 99999px;
}

.mod-artist-collection-cta {
  @extend %text-center, %text-m, %text-bold, %letter-s;
  bottom: 7px;
  color: $color-blue;
  left: 0;
  position: absolute;
  right: 0;
}

/******************************************************************
  Product Mask
******************************************************************/

.mod-product-mask {
  height: 120px;
  width: 120px;
}

.no-cssmask {
  .mod-product-mask {
    @include border-radius(60px);
  }
}

@mixin mod-product-mask($number) {
  @include mask(#{'{{ "product_mask-#{$number}.svg" | asset_url }}'});
}

.cssmask {
  .mod-product-mask {
    @include mask(#{'{{ "product_mask-01.svg" | asset_url }}'});
    @include mask-position(center center);
    @include mask-repeat(no-repeat);
    @include mask-size(contain);
  }

  .mod-product-mask-1,
  .mod-product-mask-25,
  .mod-product-mask-49,
  .mod-product-mask-73,
  .mod-product-mask-97 {
    @include mod-product-mask('01');
  }

  .mod-product-mask-2,
  .mod-product-mask-26,
  .mod-product-mask-50,
  .mod-product-mask-74,
  .mod-product-mask-98 {
    @include mod-product-mask('02');
  }

  .mod-product-mask-3,
  .mod-product-mask-27,
  .mod-product-mask-51,
  .mod-product-mask-75,
  .mod-product-mask-99 {
    @include mod-product-mask('03');
  }

  .mod-product-mask-4,
  .mod-product-mask-28,
  .mod-product-mask-52,
  .mod-product-mask-76 {
    @include mod-product-mask('04');
  }

  .mod-product-mask-5,
  .mod-product-mask-29,
  .mod-product-mask-53,
  .mod-product-mask-77 {
    @include mod-product-mask('05');
  }

  .mod-product-mask-6,
  .mod-product-mask-30,
  .mod-product-mask-54,
  .mod-product-mask-78 {
    @include mod-product-mask('06');
  }

  .mod-product-mask-7,
  .mod-product-mask-31,
  .mod-product-mask-55,
  .mod-product-mask-79 {
    @include mod-product-mask('07');
  }

  .mod-product-mask-8,
  .mod-product-mask-32,
  .mod-product-mask-56,
  .mod-product-mask-80 {
    @include mod-product-mask('08');
  }

  .mod-product-mask-9,
  .mod-product-mask-33,
  .mod-product-mask-57,
  .mod-product-mask-81 {
    @include mod-product-mask('09');
  }

  .mod-product-mask-10,
  .mod-product-mask-34,
  .mod-product-mask-58,
  .mod-product-mask-82 {
    @include mod-product-mask('10');
  }

  .mod-product-mask-11,
  .mod-product-mask-35,
  .mod-product-mask-59,
  .mod-product-mask-83 {
    @include mod-product-mask('11');
  }

  .mod-product-mask-12,
  .mod-product-mask-36,
  .mod-product-mask-60,
  .mod-product-mask-84 {
    @include mod-product-mask('12');
  }

  .mod-product-mask-13,
  .mod-product-mask-37,
  .mod-product-mask-61,
  .mod-product-mask-85 {
    @include mod-product-mask('13');
  }

  .mod-product-mask-14,
  .mod-product-mask-38,
  .mod-product-mask-62,
  .mod-product-mask-86 {
    @include mod-product-mask('14');
  }

  .mod-product-mask-15,
  .mod-product-mask-39,
  .mod-product-mask-63,
  .mod-product-mask-87 {
    @include mod-product-mask('15');
  }

  .mod-product-mask-16,
  .mod-product-mask-40,
  .mod-product-mask-64,
  .mod-product-mask-88 {
    @include mod-product-mask('16');
  }

  .mod-product-mask-17,
  .mod-product-mask-41,
  .mod-product-mask-65,
  .mod-product-mask-89 {
    @include mod-product-mask('17');
  }

  .mod-product-mask-18,
  .mod-product-mask-42,
  .mod-product-mask-66,
  .mod-product-mask-90 {
    @include mod-product-mask('18');
  }

  .mod-product-mask-19,
  .mod-product-mask-43,
  .mod-product-mask-47,
  .mod-product-mask-91 {
    @include mod-product-mask('19');
  }

  .mod-product-mask-20,
  .mod-product-mask-44,
  .mod-product-mask-67,
  .mod-product-mask-92 {
    @include mod-product-mask('20');
  }

  .mod-product-mask-21,
  .mod-product-mask-45,
  .mod-product-mask-68,
  .mod-product-mask-93 {
    @include mod-product-mask('21');
  }

  .mod-product-mask-22,
  .mod-product-mask-46,
  .mod-product-mask-69,
  .mod-product-mask-94 {
    @include mod-product-mask('22');
  }

  .mod-product-mask-23,
  .mod-product-mask-47,
  .mod-product-mask-70,
  .mod-product-mask-95 {
    @include mod-product-mask('23');
  }

  .mod-product-mask-24,
  .mod-product-mask-48,
  .mod-product-mask-71,
  .mod-product-mask-96 {
    @include mod-product-mask('24');
  }
}

/******************************************************************
  Press
******************************************************************/

.template-blog {
  .mod-footer-toggle {
    left: 15px;
  }
}

.mod-press-contact {
  background: #002BFF;
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 50px;
  z-index: 5;
}

.mod-press-contact-title {
  @include rotate(-90deg);
  @extend %text-s;
  color: white;
  height: 50px;
  line-height: 50px;
  margin-left: -165px;
  margin-top: 90px;
  padding-left: 50px;
  position: fixed;
  width: 330px;
  z-index: 10;

  &:before {
    background-image: url( #{'{{ "icon-email70x70.png" | asset_url }}'} );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;
  }
}

.mod-press-articles {
  padding: 100px 50px;

  @include tab {
    padding: 100px 100px;
  }
}

.mod-press-article {
  @extend %block;
  max-width: 100%;
  overflow: hidden;
}

.mod-press-article-date {
  @extend %text-center, %text-xs;
  color: #002BFF;
}

.mod-press-article-wrapper {
  min-height: 310px;
  margin-bottom: 50px;
  position: relative;

  @include tab {
    margin-bottom: 100px;
  }
}

.mod-press-article-title {
  @include hyphenate();
  @extend %text-xl, %text-center, %text-regular, %letter-xxs, %margin-horizontal-auto;
  @extend %tab-text-xxl;
  line-height: 1.2em;
  max-width: 750px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.mod-press-article-image {
  position: absolute;
  top: 0;
  z-index: 1;
}

/******************************************************************
  Index
******************************************************************/

.template-index {
  .mod-nav-logo {
    a {
      background-image: url( #{'{{ "logo-full.png" | asset_url }}'} );
      background-size: 186px 51px;
      height: 51px;
      width: 186px;
    }
  }

  .mod-collections-collection {
    background-attachment: initial;
  }
}

.mod-index {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mod-feature-product-grid {
  @extend .container-fluid;
  @extend %margin-vertical-xl;
  display: block;
  position: relative;
}

.mod-feature-product-grid-title {
  @extend %text-bold, %text-center, %text-xl, %text-uppercase;
  @extend %tab-text-xxl;
  height: 200px;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;
}

.mod-feature-product-grid-product {
}
.mod-feature-product-grid-product-image {
  width: 100%;
}

.mod-feature-product-grid-row {
  @include make-row;
  @extend %margin-bottom-xl;
  overflow: hidden;

  .mod-feature-product-grid-product {
    &:nth-of-type(1) {
      @extend .col-palm-6;
      @extend .col-tab-4, .col-tab-offset-1;
    }

    &:nth-of-type(2) {
      @extend .col-palm-4, .col-palm-offset-2;
      @extend .col-tab-2, .col-tab-offset-3;
    }
  }
}

.mod-feature-product-grid-row-last {
  @include make-row;

  .mod-feature-product-grid-product {
    &:nth-of-type(1) {
      @extend .col-palm-6, .col-palm-offset-3;
      @extend .col-tab-3, .col-tab-offset-6;
    }
  }
}

.mod-feature-video-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.mod-feature-video {
  @include cover-background-image('');
  bottom: 0;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  right: 0;
  width: auto;
}

.mod-feature-products-title {
  @extend %text-bold, %text-l, %text-uppercase;
  @extend %tab-text-bold, %tab-text-xl;
  @extend .col-palm-6;
  position: relative;
  z-index: 2;

  &:first-child {
    @extend .col-tab-5, .col-tab-offset-1;
  }

  &:last-child {
    @extend .col-tab-4, .col-tab-offset-2;
  }
}

.mod-feature-product-filter {
  background: #F1F0F0;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.mod-feature-product-filter-product {
  @include opacity(0);
  @include box-sizing(border-box);
  @include transition(opacity 0.2s);
  @extend %padding-vertical-xl;
  @extend %tab-padding-vertical-xxl;
  height: 100%;
  position: absolute;
  width: 100%;

  &.visible {
    @include opacity(1);
  }
}

.mod-feature-product-filter-product-image {
  @extend %block, %margin-horizontal-auto;
  height: 100%;
}


.mod-feature-product-filter-items {
  @extend .col-palm-6;
  @extend .col-tab-4, .col-tab-offset-2;
}

.mod-feature-product-filter-item {
  span {
    @extend %text-uppercase, %text-bold;
    @include transition(all 0.2s);

    &.active {
      @extend %text-xl;
      @extend %tab-text-xl;
    }
  }
}

.mod-feature-artist {
  @include box-sizing(border-box);
  background: #F1F0F0;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  width: 100%;

  @include tab {
    padding: 160px 0;
  }
}

.mod-feature-artist-image {
  @extend %block, %margin-horizontal-auto;
  height: 100%;
}

.mod-feature-artist-logo {
  @include rotate(90deg);
  height: 40px;
  margin-top: 80px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.mod-feature-artist-label {
  @include rotate(-90deg);
  @extend %text-regular, %text-xs, %text-uppercase, %letter-xxl;
  color: white;
  line-height: 78px;
  margin-top: 210px;
  position: absolute;
  width: 78px;
  top: 0;
  z-index: 2;
}

.mod-feature-artist-title {
  @extend %text-l, %text-bold, %text-center;
  @extend %tab-text-xl;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-spacing: 99999px;
}

.mod-index-ctas {
  @include make-row;
  min-height: 100%;
}

.mod-index-cta {
  @extend %margin-vertical-xl, .col-palm-10, .col-palm-offset-1;
  @extend %tab-margin-vertical-xxl;
}

.mod-index-cta-shop {
  @extend .col-tab-4, .col-tab-offset-1;
  .mod-index-cta-title {
    margin-left: -25px;
  }
}

.mod-index-cta-title {
  @extend %text-l, %margin-top-m;
  @extend %tab-text-xl, %tab-margin-top-l;
  position: absolute;
  z-index: 2;
}

.mod-index-cta-product {
  @extend .col-palm-4;
  margin-bottom: 25px;
}

.mod-index-cta-product-image {
  max-width: 100%;
}

.mod-index-cta-look {
  @extend .col-tab-3, .col-tab-offset-2;

  img {
    width: 100%;
  }

  .mod-index-cta-title {
    right: 0px;

    @include tab {
      margin-right: -60px;
    }
  }
}

.mod-index-modules {
  @include make-row;
  @extend %padding-bottom-l;
}

.mod-index-module {
  @extend .col-palm-12, %text-center;
  @extend .col-tab-4;
}

.mod-index-module-title {
  @extend %text-m, %line-xl, %letter-xs, %margin-bottom-l;
  @extend %tab-text-l, %tab-margin-bottom-xl;
  word-spacing: 99999px;
}

.mod-index-module-sub-title {
  @extend %text-xs, %text-underline, %margin-bottom-l;
  @extend %tab-text-xs, %tab-margin-bottom-xl;
}